<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>TODOアプリ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />
</head>

<body>
    <main>
        <div id="title" class="title">タスク</div>
        <form name="f" method="post" action="/update">
            <div class="text_area">
                <p>title :<input type="text" name="title" placeholder="title" value="{{task.title}}" required
                        class="tbox"></p>
                <p>memo :<input type="text" name="memo" placeholder="memo" value="{{task.memo}}" class="tbox"></p>
                <p>date :<input type="date" name="date" placeholder="date" value="{{date}}" required class="tbox"></p>
                <p>time :<input type="time" name="time" placeholder="time" value="{{time}}" required class="tbox"></p>
                <p>place :<input type="text" name="place" placeholder="place" value="{{task.place}}" class="tbox"></p>
            </div>
            <input type="hidden" name="taskid" value="{{task.taskid}}">
            <button class="button-l">更新</button>
        </form>
    </main>
</body>