<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>TODOアプリ</title>
</head>

<body>
    <main>
        <div id="title" class="title">{{name}}のタスク</div>
        <form name="f" method="post" action="/create">
            <div class="text_area">
                <input type="text" name="title" placeholder="title" required>
                <input type="text" name="memo" placeholder="memo">
                <input type="text" name="date" placeholder="date" required>
                <input type="text" name="place" placeholder="place">
            </div>
            <button type="submit" formmethod="POST">POST</button>
        </form>
        <form name="f" method="post" action="/login">
            <button type="submit" formmethod="POST">login</button>
        </form>
        <br><br>
        <p>タスク一覧</p>
        <table border="1" style="border-collapse: collapse;" cellpadding="5">
            <tr>
                <td>userid</td>
                <td>title</td>
                <td>memo</td>
                <td>date</td>
                <td>place</td>
                <td>taskid</td>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.userid }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.memo }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.place }}</td>
                <td>{{ task.taskid }}</td>
                <td>
                    <form method="POST" action="/edit">
                        <input type="hidden" name="taskid" value="{{task.taskid}}">
                        <button>編集</button>
                    </form>
                </td>
                <td id="task_{{task.taskid}}" task_id="{{task.taskid}}">
                    <form method="POST" action="/delete">
                        <input type="hidden" name="taskid" value="{{task.taskid}}">
                        <button>削除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <p>ユーザ一覧</p>
        <table border="1" style="border-collapse: collapse;" cellpadding="5">
            <tr>
                <td>userid</td>
                <td>name</td>
                <td>email</td>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.userid }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>